@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import "../../styles/variables";
@import "../../styles/mixins";
.Hero {
  position: relative;
  height: 80vh;
  border: 20px solid $primary-color;

  &__inshaker {
    position: absolute;
    left: 2%;
    padding: 10px;
    border: 1px solid $secondary-color;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.35s ease-out;
    box-shadow: $box-shadow;
    &:hover {
      color: $impression-color;
      background: rgba(63, 13, 18, 1);
    }
  }

  &__title-one {
    font-family: "Tangerine", cursive;
    font-size: 14rem;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 0;
    left: 6%;
  }
  &__title-two {
    font-family: "Tangerine", cursive;
    font-size: 10rem;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 2%;
  }
  &__title-three {
    font-family: "Tangerine", cursive;
    font-size: 8rem;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 25%;
  }
  &__quote {
    font-size: 1.2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-variant: small-caps;
  }

  .categories {
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 10%;
    @include flex-container(row, 10px, wrap, center, center);
    list-style-type: none;
    text-align: center;
    font-variant: small-caps;
  }
  .categories li {
    border: 1px solid $secondary-color;
    border-radius: 20px;
    padding: 7px;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: all 0.35s ease-out;
    &:hover {
      color: $impression-color;
      background: $active-color_deep;
    }
  }
}
