// @import "../../styles/variables";
// @import "../../styles/mixins";
.Popup {
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  text-align: center;
  background-color: $primary-color;
  border-radius: 12px;
  color: $impression-color;
  z-index: 20;
}
@media screen and (max-width: 420px) {
  .Popup {
    width: 200px;
  }
}
