$primary-color: #4b0d0d;
$secondary-color: #1f1a1c;
$active-color: rgba(134, 22, 87, 1);
$active-color_deep: rgba(63, 13, 18, 1);

$primary-color-alpha: #0000008c;
$impression-color: antiquewhite;

$box-shadow: 0 0 4px #1f1a1c;
