@import "../../styles/mixins";

.Content {
  margin: 20px;
  @include flex-container(row, 90px, wrap);
}
@media screen and (max-width: 800px) {
  // .Content {
  //
  // }
}
@media screen and (max-width: 400px) {
  .Content {
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }
}
