@import "../../styles/variables";
@import "../../styles/mixins";
.Card {
  padding-top: 90px;
  &__wrapper {
    border-radius: 8px;
    width: 250px;
    height: 300px;
    position: relative;
    box-shadow: 0 0 4px $secondary-color;
    // box-shadow: $box-shadow;

    img {
      border-radius: 8px;
      width: 250px;
      height: 300px;
    }
  }

  &__text {
    background: $impression-color;
    position: absolute;
    left: -10px;
    transform: rotate(-2deg);
    bottom: -90px;
    width: 260px;

    padding: 10px;
    color: $primary-color;
    box-shadow: $box-shadow;
    z-index: 1;
    &-ingr-title {
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0 10px;
    }

    &-ingredients {
      // border: 2px solid yellow;
      font-size: 0.8rem;
      height: 75px;
      @include flex-container(column, 0, wrap, flex-start, flex-start);
    }
  }
  &__title {
    padding: 6px;
    margin: 0;
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid $secondary-color;
    transition: transform 0.35s;

    &:hover {
      color: $active-color;
      transform: scale(1.1);
      border-bottom: 1px solid $active-color;
    }
  }
  &__text-impo {
    margin: 5px;
    font-weight: bold;
  }
}
