.Card {
  padding-top: 90px;
  &__wrapper {
    border-radius: 8px;
    width: 250px;
    height: 300px;
    position: relative;

    img {
      border-radius: 8px;
      width: 250px;
      height: 300px;
    }
  }

  &__text {
    background: rgb(255, 166, 158);
    position: absolute;
    left: -10px;
    transform: rotate(-2deg);
    bottom: -90px;
    width: 260px;
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    z-index: 1;
  }
  &__title {
    margin: 0;
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__ingredients {
    margin: 0;
  }
}
