.Footer {
  background: rgba(56, 41, 41, 0.303);
  padding-top: 20px;
  @include flex-container();

  .wrapper {
    width: 100%;

    @include flex-container(row, 0, nowrap, space-around, center);

    .links {
      @include flex-container(column, 22px);

      p,
      a {
        text-decoration: none;
        color: $impression-color;
        cursor: pointer;
        transition: transform 0.35s;
        margin: 0;

        &:hover {
          transform: scale(1.1);
          font-weight: bold;
        }
      }
    }

    .text {
      @include flex-container();
      color: $impression-color;
    }
  }
  .rights {
    font-size: 0.7rem;
    font-weight: bold;
  }
}
